{% extends "header.html" %}

{% block content %}

<div class="container">


    <div class="row justify-content-center m-2">

{% if products %}

    {% for product in products %}

    <div class="col-md-4">
        <div class="card m-3 p-2" style="width: 18rem; height: 33rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="font-size: 17px;" class="card-title mt-1">{{ product.name }}</h4>
                <h3 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">{{ product.price }}</h3>
                <hr>
            <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
 {% else %}
                 <p>No Products </p>
 {% endif %}

    </div>
</div>

{% endblock %}